body {
    background-color: #add981;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 1050px;
    margin: auto;
    background-color:white;
    padding: 25px;
    box-shadow: 0 2px 5px 1px rgb(63, 63, 63);
}

.articles {
    width: 1050px;
    margin: auto;
    background-color:white;
    padding: 25px;
    box-shadow: 0 2px 5px 1px rgb(63, 63, 63);
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.article {
    position: relative;
    background-size: cover;
    background-position: center;
}

.article-details {
    position: absolute;
    width: 94%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.article-nom {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 3px;
}

.article-prix {
    color: #ADD981;
    line-height: 3px;
    font-size: 16px;
    font-weight: 500;
}

.article-grid1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.article-grid2 {
    grid-column: 3/5;
}

.article-grid3 {
    grid-column: 3/5;
}

.article-grid4 {
    grid-column: 1;
    grid-row: 3/5;
}

.article-grid5 {
    grid-column: 2/4;
    grid-row: 3/5;
}

.article-grid6 {
    grid-column: 4;
    grid-row: 3/5;
}