body {
    background-color: #add981;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    width: 1050px;
    margin: auto;
    background-color:white;
    padding: 25px;
    box-shadow: 0 2px 5px 1px rgb(63, 63, 63);
}